node_modules
dist/*
!dist/*.js
!dist/img
.devcontainer/*
!.devcontainer/configuration.yaml
!.devcontainer/lovelace.yaml
!.devcontainer/automations.yaml
!.devcontainer/scripts.yaml
!.devcontainer/scenes.yaml
!.devcontainer/test-dashboard.yaml
!.devcontainer/scripts
!.devcontainer/views
!.devcontainer/www
.devcontainer/www/community/*
